.gamification-group-dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.gamification-group-dynamic-delete-button:hover {
  color: #777;
}
.gamification-group-dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.gamification-group-wrap-field {
  border: 1px solid #d9d9d9;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.gamification-group-delete-row{
  text-align: center;
  /* margin-left: 48px; */
  font-size: 1.2rem;
}

.gamification-validation-err input {
  border-color: rgba(255, 0, 0, 0.8);
  color: rgba(255, 0, 0, 0.8);
  transition: 0.4s;
}