.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.delete-row-wrap {
  display: flex;
  align-items: center;
}
.delete-row{
  margin-left: 10px;
  font-size: 1.2rem;
}

.validation-err input {
  border-color: rgba(255, 0, 0, 0.8);
  color: rgba(255, 0, 0, 0.8);
  transition: 0.4s;
}